.notice_wrapper {

  .title_wrapper{
    position:relative;
    font-style:normal;
    font-size: 1.2em;
    font-weight: bold;
    cursor: text;
    .done{
      position:absolute;
      right:0;
      top:0;
      cursor:pointer;
    }
  }

  .notice_content:hover{
    // border: 1px dashed red;
    cursor: text;
  }


  .notice_save{}
  .notice_edits{
      *{
        align-self:baseline;
      }

    .notice_pattern{}
    .notice_day{}
    .target_wrapper{
      z-index:10;
      position: relative;
      margin: 8px;

      *{
        cursor:pointer;
      }
      span{
        border: 1px solid rgba(0,0,0,.2);
        padding: 8px;
        padding-right: 50px;
        display:inline-block;
      }
      span:after{
        content: ">";

      }
      .list{
        max-height:150px;
        overflow:scroll;

        background-color:#fff;
        position:absolute;
        padding: 5px;
        width:100%;
        left:0;
        border: 1px solid rgba(0,0,0,.2);
        border-top: none;
        margin:0;
      }
      .list input[type="checkbox"]{
        display: none;
      }

      ul.list li{
        padding: 5px 0;
        display:block;

      }
      ul.list li:hover{
        background-color: #99b3ff;
      }

      ul.list li.checked{
        font-weight: bold;
        background-color: #99b3ff;
      }


    }
    .click{}
    .list{}
  }
}
