@use 'resets';
@use 'header-footer';
@use 'noticeBoard';

body{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // justify-content:center;
  min-height: 100vh;
  background-color:lightGray;
  font-size: 20px;

  > * {
    width: 100%;
  }
}

main{
  flex: 2;
  background-color:white;
  max-width:1200px;
  margin-top: 0px;
  padding: 20px;

  h3{
    font-style:italic;
  }

  section{
    padding: 10px 10px;
    margin: 20px 0px;
    border: 1px solid gray;
  }
}
.flex {
  display:flex;
  flex-wrap:wrap;
}
.hidden{
  display:none;
}
