/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: default;
}

button, a {
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  background-color: red;
  padding: 30px;
  justify-content: space-between;
}
header h1 {
  font-size: 1.5em;
  font-weight: bold;
}
header h2 {
  font-size: 1.2em;
}

footer {
  background-color: black;
  padding: 30px;
  color: white;
  text-align: center;
}

.notice_wrapper .title_wrapper {
  position: relative;
  font-style: normal;
  font-size: 1.2em;
  font-weight: bold;
  cursor: text;
}
.notice_wrapper .title_wrapper .done {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.notice_wrapper .notice_content:hover {
  cursor: text;
}
.notice_wrapper .notice_edits * {
  align-self: baseline;
}
.notice_wrapper .notice_edits .target_wrapper {
  z-index: 10;
  position: relative;
  margin: 8px;
}
.notice_wrapper .notice_edits .target_wrapper * {
  cursor: pointer;
}
.notice_wrapper .notice_edits .target_wrapper span {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  padding-right: 50px;
  display: inline-block;
}
.notice_wrapper .notice_edits .target_wrapper span:after {
  content: ">";
}
.notice_wrapper .notice_edits .target_wrapper .list {
  max-height: 150px;
  overflow: scroll;
  background-color: #fff;
  position: absolute;
  padding: 5px;
  width: 100%;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  margin: 0;
}
.notice_wrapper .notice_edits .target_wrapper .list input[type=checkbox] {
  display: none;
}
.notice_wrapper .notice_edits .target_wrapper ul.list li {
  padding: 5px 0;
  display: block;
}
.notice_wrapper .notice_edits .target_wrapper ul.list li:hover {
  background-color: #99b3ff;
}
.notice_wrapper .notice_edits .target_wrapper ul.list li.checked {
  font-weight: bold;
  background-color: #99b3ff;
}
#table_wrapper {
  overflow-x: auto;
}
#table_wrapper .active {
  background-color: lightBlue;
}
#table_wrapper th, #table_wrapper td {
  white-space: nowrap;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#table_wrapper th {
  font-weight: 600;
  text-transform: uppercase;
}
#table_wrapper .extra {
  height: 0px;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: lightGray;
  font-size: 20px;
}
body > * {
  width: 100%;
}

main {
  flex: 2;
  background-color: white;
  max-width: 1200px;
  margin-top: 0px;
  padding: 20px;
}
main h3 {
  font-style: italic;
}
main section {
  padding: 10px 10px;
  margin: 20px 0px;
  border: 1px solid gray;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
